.container{
    width: 30em;
    height: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container h1{
    font-weight: 400;
    color: rgb(171, 93, 255);
    font-size: 4em;
}

.container h2{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 2.5em;
    font-weight: 500;
}

.nextButton{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background:none;
    cursor: pointer;
    color: blueviolet;
    font-size: 3em;
}

.nextButton:hover{
    color: rgb(91, 13, 163)
}

.step1{
    display: flex;
    flex-direction: column;
}

.step1 button{
    width: 5em;
}

.step1 input{
    outline: none;
    width: 20em;
}

.step1 input:focus{
    outline-color: blueviolet;
}